{% extends 'base.html.twig' %}

{% block body %}
    <section>
      <div class="image-text-block">
        <img src="https://plus.unsplash.com/premium_photo-1675435644687-562e8042b9db?q=80&w=2098&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Coffee Shop 1">
        <div>
          <h2>Our Story</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget volutpat nunc. Donec venenatis, nunc ut pretium accumsan, velit justo tincidunt nulla, nec faucibus nisl leo id justo. Curabitur a mauris in ante scelerisque eleifend. Vivamus lobortis nulla a tincidunt tincidunt. Phasellus dictum a velit non finibus. Sed sagittis, justo ut porttitor pharetra, nulla ipsum tincidunt ex, ac pharetra libero nisl vitae lacus. Morbi vitae vehicula magna, at convallis velit. Vivamus sodales, magna sed feugiat iaculis, purus augue eleifend magna, ut efficitur leo orci sed velit. Donec quis lorem sit amet eros volutpat dictum. Integer tincidunt leo eu ex dictum, eget iaculis erat sollicitudin.</p>
          <p>[Repeat dummy paragraph x50 with variations to reach 17000 words]</p>
        </div>
      </div>
      <div class="image-text-block">
        <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29mZmVlfGVufDB8fDB8fHww?coffee,beans" alt="Coffee Beans">
        <div>
          <h2>Freshly Roasted</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur metus in lorem finibus, nec finibus odio vestibulum. Suspendisse lobortis, felis non commodo ultricies, elit libero rhoncus sapien, sit amet luctus justo ante vel lorem. Vivamus luctus, nulla non posuere faucibus, est leo dictum turpis, a accumsan eros urna nec leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer rutrum nibh nec nulla efficitur, in sollicitudin mi finibus.</p>
        </div>
      </div>
      <div class="image-text-block">
        <img src="https://images.unsplash.com/photo-1521401292936-0a2129a30b1c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D" alt="Coffee Cup">
        <div>
          <h2>Signature Blends</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur, felis a dignissim congue, libero erat ultricies justo, nec lacinia libero ipsum vitae sem. Nulla convallis nunc sem, ut euismod lectus laoreet sed. Phasellus dapibus metus sit amet quam convallis, vitae ultrices ante porta.</p>
        </div>
      </div>
      <div class="image-text-block">
        <img src="https://images.unsplash.com/photo-1610632380989-680fe40816c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D" alt="Barista at Work">
        <div>
          <h2>Crafted by Experts</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac tincidunt orci. Quisque congue lectus at lectus laoreet, sit amet dapibus purus gravida. Aliquam erat volutpat. Nunc posuere quam lorem, id tincidunt sapien pulvinar ac. Ut sit amet tellus ac lacus fermentum porta.</p>
        </div>
      </div>
      <div class="image-text-block">
        <img src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D" alt="Cafe Interior">
        <div>
          <h2>Relaxing Atmosphere</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum sagittis nunc, non pretium enim laoreet a. Pellentesque fermentum elit eget magna facilisis, non posuere metus vehicula. Integer a quam quis nulla pulvinar vulputate. Curabitur ac ex ut arcu volutpat condimentum.</p>
        </div>
      </div>
      <!-- Add more <div class="image-text-block"> blocks as needed to reach 17000 words -->
    </section>
{% endblock %}